<!-- <p>user works!</p> -->


<section class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary[NO]" style="background: #435d7d; ">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: white;">USUARIOS</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
          <div class="d-flex">
            <button class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo Usuario</button>
          </div>
        </div>
    </nav>
  <table class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.status}}</td>
          <td>
            <input *ngIf="user.role != 'admin' && user.role != 'super-admin'" type="button" value="Edit" (click)="editUser(user)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success me-2"/>
            <input *ngIf="user.role != 'admin' && user.role != 'super-admin' && user.status != false" type="button" value="Delete" (click)="deleteUser(user)" class="btn btn-danger"/>
          </td>
      </tr>
  </tbody>
  </table>
</section>

<!-- //////////////////////////////////////////////////////////// -->

<!-- Button trigger modal -->
<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">USUARIO</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          <button (click)="SaveShowBtn()" type="button" class="btn btn-dark"  data-bs-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
            <!-- <form class="row g-3" [formGroup]="formValue"> -->
                <div class="col-12">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text"  [(ngModel)]="name" class="form-control" name="name" id="inputName">
                  </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Correo Electrónico</label>
                  <input type="email"  [(ngModel)]="email" class="form-control" name="email" id="inputEmail4" placeholder="sigra@gmail.com">
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Contraseña</label>
                  <input type="password"  [(ngModel)]="password" class="form-control" name="password" id="inputPassword4">
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Estado</label>
                      <select [(ngModel)]="status" name="status" class="form-control">
                        <option [value]="1" selected>Activo</option>
                        <option [value]="0">Inactivo</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Rol</label>
                      <select [(ngModel)]="role" name="role" class="form-control">
                        <option value="docente" selected>Docente</option>
                        <option value="coordinador">Coordinador</option>
                      </select>
                    </div>
                  </div>
                </div>
              <!-- </form> -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Cerrar</button> -->
          <button *ngIf="btnSaveShow" type="button" class="btn btn-primary" (click)="registerUser()" >Registrar Usuario</button>
          <button *ngIf="btnUpdateShow" type="button" class="btn btn-primary" (click)="updateUser()" >Guardar</button>
        </div>
      </div>
    </div>
  </div>
<!-- LIMPIAR CAMPOS CUANDO SE DA CLICKAFEURA DEL PANEL

$('#exampleModal').on('hidden.bs.modal', function (e) {
  document.getElementById('inputName').value = '';
  document.getElementById('inputEmail4').value = '';
  document.getElementById('inputPassword4').value = '';
  // Asegúrate de agregar los identificadores para los campos de estado y rol si también quieres limpiarlos
})

-->
