
<router-outlet></router-outlet>

<!-- <p>PROGRAMS works!</p> -->

<section class="container">
  <nav class="navbar navbar-expand-lg navbar-light" style="background: #435d7d; ">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white;">PROGRAMAS</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
        <div class="d-flex">
          <button class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo Programa</button>
        </div>
      </div>
  </nav>
<table class="table table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <!-- <th>Imagen</th> -->
        <th>Duracion</th>
        <th>Titulo </th>
        <th>Estado</th>
        <th>Acción</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let program of programs">
        <td>{{program.id}}</td>
        <td>{{program.name}}</td>
        <td>{{program.description}}</td>
        <!-- <td>{{program.image}}</td> -->
        <td>{{program.duration}}</td>
        <td>{{program.awarded_title}}</td>
        <td>{{program.status}}</td>
        <td>
          <input type="button" value="Edit" (click)="editProgram(program)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success me-2"/>
          <input *ngIf="program.status != false" type="button" value="Delete" (click)="deleteProgram(program)" class="btn btn-danger"/>
        </td>
    </tr>
</tbody>
</table>
</section>

<!-- //////////////////////////////////////////////////////////// -->

<!-- Button trigger modal -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PROGRAMA</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <button (click)="SaveShowBtn()" type="button" class="btn btn-dark"  data-bs-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <div class="col-12">
            <label for="inputName" class="form-label">Nombre</label>
            <input [(ngModel)]="name" type="text"  class="form-control" name="name" id="inputName">
          </div>
          <div class="col-12">
            <label class="form-label">Descripción</label>
            <input [(ngModel)]="description" type="text"   class="form-control" name="description">
          </div>
          <!-- <div class="col-12">
            <label class="form-label">Imagen</label>
            <input type="image" class="form-control" name="image">
          </div> -->
          <div class="col-12">
            <label class="form-label">Duración</label>
            <input [(ngModel)]="duration" type="text" class="form-control" name="duration">
          </div>
          <div class="col-12">
            <label class="form-label">Titulo Otorgado</label>
            <input [(ngModel)]="awarded_title" type="text" class="form-control" name="awarded_title">
          </div>
          <div class="col-12">
            <label class="form-label">Estado</label>
            <select [(ngModel)]="status" name="status" class="form-control">
              <option [value]="1" selected>Activo</option>
              <option [value]="0">Inactivo</option>
            </select>
          </div>


          <!-- <div class="col-12">
            <label for="inputPassword4" class="form-label">Semestre</label>
            <input type="number"  class="form-control" name="password" id="inputPassword4">
          </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Diploma</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Habilidades</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Conocimientos</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Tipo</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Capacidades</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Competencias</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->

      </div>
      <div class="modal-footer">

        <!-- <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Cerrar</button> -->
        <button *ngIf="btnSaveShow" (click)="registerProgram()"  type="button" class="btn btn-primary" >Registrar Programa</button>
        <button *ngIf="btnUpdateShow" (click)="updateProgram()"  type="button" class="btn btn-primary" >Guardar</button>
      </div>
    </div>
  </div>
</div>

