<section class="section bg-light" id="services">
    <div class="container">
        <div class="container px-4 px-lg-5">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <div class="titles">
                            <h3 class="title text-uppercase mb-4 pb-4">{{ programDetails.name }}</h3>
                            <span></span>
                        </div>
                        <p class="text-muted mx-auto para-desc mb-0 text-center">{{ programDetails.description }}</p>
                    </div>
                </div>
            </div>
            <div id="wrapper">
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <div class="container-fluid">
                          <div class="col-lg-15 mb-5" >
                              <div class="card shadow mb-4" *ngFor="let subject of programDetails.subject">
                                  <!-- CORREGIR COLOR -->
                                  <a href="#collapseCardExample{{subject.id}}" class="d-block card-header py-4" data-toggle="collapse"
                                      role="button" aria-expanded="false" >
                                      <h4 class="m-0 font-weight-bold text-primary">{{ subject.name }}</h4> 
                                  </a>
                                  <div class="collapse" id="collapseCardExample{{subject.id}}">
                                      <div class="card-body">
                                          <h6 class="text mt-1 mb-0">Resultado de aprendizaje:</h6>
                                          <p class="text-muted mt-1 mb-0" *ngFor="let result of subject.learning_result">{{ result.definition }}</p>
                                      </div>
                                      <!--<div class="card-footer">
                                        <a routerLink="#" class="btn btn-custom  mb-2 mr-2">Más Información
                                           <i class="mdi mdi-information"></i> 
                                        </a>
                                      </div>-->
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
