
<router-outlet />
<!-- HOME START :style="background-image:url('images/home/01.jpg')"-->
<section class="bg-hero bg-animation-right" id="home">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-7 col-md-7">
              <div class="title-heading mt-5">
                <h2 class="sub-title">¡Bienvenidos!</h2>
                <h1 class="heading text-custom mb-3">SISTEMA INTEGRAL DE GESTIÓN PARA RESULTADOS DE APRENDIZAJE.</h1>
                <p class="para-desc text-muted">En esta plataforma, podrán explorar de manera efectiva los diversos componentes que conforman el proceso de enseñanza-aprendizaje en su institución educativa.
                  Nuestro sistema está diseñado para facilitar la alineación coherente de los resultados de aprendizaje esperados y los perfiles de egresado deseados. De esta forma, se asegura que los estudiantes adquieran las capacidades y destrezas necesarias para desempeñarse exitosamente en sus campos profesionales.</p>
              </div>
          </div>

          <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
              <div class="hero-img">
                  <img src="assets/images/birrete.png" class="img-fluid" alt="Birrete">
              </div>
          </div>
      </div>
  </div>
</section>
