<!-- <p>admin-subjects works!</p> -->

<section class="container">
  <nav class="navbar navbar-expand-lg navbar-light" style="background: #435d7d; ">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white;">ASIGNATURAS</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
        <div class="d-flex">
          <button class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo Asignatura</button>
        </div>
      </div>
  </nav>
<table class="table table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <!-- <th>Imagen</th> -->
        <th>Código</th>
        <th>Créditos</th>
        <th>Estado</th>
        <th>Acción</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let subject of subjects">
        <td>{{subject.id}}</td>
        <td>{{subject.name}}</td>
        <td>{{subject.description}}</td>
        <td>{{subject.code}}</td>
        <td>{{subject.credits}}</td>
        <td>{{subject.status}}</td>
        <td>
          <input type="button" value="Edit" (click)="editSubject(subject)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success me-2"/>
          <input *ngIf="subject.status != false" type="button" value="Delete" (click)="deleteSubject(subject)" class="btn btn-danger"/>    
        </td>
    </tr>
</tbody>
</table>
</section>

<!-- //////////////////////////////////////////////////////////// -->

<!-- Button trigger modal -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ASIGNATURA</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <button (click)="SaveShowBtn()" type="button" class="btn btn-dark"  data-bs-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <div class="col-12">
            <label for="inputName" class="form-label">Nombre</label>
            <input [(ngModel)]="name" type="text"  class="form-control" name="name" id="inputName">
          </div>
          <div class="col-12">
            <label class="form-label">Descripción</label>
            <input [(ngModel)]="description" type="text"   class="form-control" name="description">
          </div>
          <!-- <div class="col-12">
            <label class="form-label">Imagen</label>
            <input type="image" class="form-control" name="image">
          </div> -->
          <div class="col-12">
            <label class="form-label">Código</label>
            <input [(ngModel)]="code" type="text" class="form-control" name="code">
          </div>
          <div class="col-12">
            <label class="form-label">Créditos</label>
            <input [(ngModel)]="credits" type="text" class="form-control" name="credits">
          </div>
          <div class="col-12">
            <label class="form-label">Estado</label>
            <input [(ngModel)]="status" type="status" class="form-control" name="status">
          </div>
          <!--<div class="col-12">
            <label class="form-label">Programa</label>
            <input [(ngModel)]="status" type="status" class="form-control" name="status">
          </div> este es

           <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">verb</label>
                <select [(ngModel)]="verb" name="verb" class="form-control">
                  <option value="1" selected>Activo</option>
                  <option value="0">Inactivo</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Level</label>
                <select [(ngModel)]="taxonomy_level" name="taxonomy_level" class="form-control">
                  <option value="docente" selected>Docente</option>
                  <option value="coordinador">Coordinador</option>
                </select>
              </div>
            </div>
          </div> -->


          <!-- <div class="col-12">
            <label for="inputPassword4" class="form-label">Semestre</label>
            <input type="number"  class="form-control" name="password" id="inputPassword4">
          </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Diploma</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Habilidades</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Conocimientos</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Tipo</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Capacidades</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Competencias</label>
              <input type="text"  class="form-control" name="name" id="inputName">
            </div> -->
    
      </div>
      <div class="modal-footer">
        
        <!-- <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Cerrar</button> -->
        <button *ngIf="btnSaveShow" (click)="registerSubject()"  type="button" class="btn btn-primary" >Registrar Asignatura</button>
        <button *ngIf="btnUpdateShow" (click)="updateSubject()"  type="button" class="btn btn-primary" >Guardar</button>
      </div>
    </div>
  </div>
</div>


