
<section class="section bg-light" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <div class="titles">
                        <h6 class="title text-uppercase mb-4 pb-4">Programas</h6>
                        <span></span>
                    </div>
                    <p class="text-muted mx-auto para-desc mb-0 text-center">Estos son todos nuestros programas disponibles</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" href="programs/login">
                <a href="/details">
                <div class="service-wrapper rounded position-relative text-center border p-4 pt-5 pb-5">
                    <div class="icon text-custom">
                        <i class="bi bi-code"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-code" viewBox="0 0 16 16">
                            <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8z"/>
                          </svg>
                    </div>
                    <div class="content mt-3">

                        <h4 class="title text-uppercase">Desarroll de Software</h4>
                        <p class="text-muted mt-3 mb-0">Utilizar los conocimientos fundamentales en teoría de la computación (v.gr. estructuras discretas, complejidad de algoritmos, máquinas abstractas, lógica) en la construcción de sistemas basados en TIC.</p>

                    </div>
                </div>
            </a>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <a href="/details">
                <div class="service-wrapper rounded position-relative text-center border p-4 pt-5 pb-5">
                    <div class="icon text-custom">
                        <i class="bi bi-book"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                          </svg>
                    </div>
                    <div class="content mt-3">
                        <h4 class="title text-uppercase">Licenciatura en Literatura</h4>
                        <p class="text-muted mt-3 mb-0">Formar a docentes de literatura en componentes lingüísticos, pedagógicos-didácticos, teóricos-literarios e investigativos, con el fin de desempeñarse profesionalmente en contextos formativos y socioeducativos.</p>
                    </div>
                </div>
                </a>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <a href="/details">
                <div class="service-wrapper rounded position-relative text-center border p-4 pt-5 pb-5">
                    <div class="icon text-custom">
                        <i class="bi bi-coin"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                          </svg>
                    </div>
                    <div class="content mt-3">
                        <h4 class="title text-uppercase">Comercio Exterior</h4>
                        <p class="text-muted mt-3 mb-0">El Profesional en Comercio Exterior estará en capacidad de crear, dirigir, y participar en organizaciones empresariales regionales, nacionales e internacionales apoyando estratégicamente procesos de internacionalización. </p>
                    </div>
                </div>
                </a>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <a href="/details">
                <div class="service-wrapper rounded position-relative text-center border p-4 pt-5 pb-5">
                    <div class="icon text-custom">
                        <i class="bi bi-book"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-building-2">
                            <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z"/><path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2"/><path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2"/><path d="M10 6h4"/><path d="M10 10h4"/><path d="M10 14h4"/><path d="M10 18h4"/>
                          </svg>
                    </div>
                    <div class="content mt-3">
                        <h4 class="title text-uppercase">Administracion de empresas</h4>
                        <p class="text-muted mt-3 mb-0">El Profesional en Administración de Empresas Cuenta con capacidades sensibilidades y competencias para realizar las funciones relacionadas con su disciplina en el campo de las organizaciones</p>
                    </div>
                </div>
                </a>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <a href="/details">
                <div class="service-wrapper rounded position-relative text-center border p-4 pt-5 pb-5">
                    <div class="icon text-custom">
                        <i class="bi bi-book"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                          </svg>
                    </div>
                    <div class="content mt-3">
                        <h4 class="title text-uppercase">Arte Dramatico</h4>
                        <p class="text-muted mt-3 mb-0">El Licenciado en Arte Dramático de la Universidad del Valle sede pacífico, es un individuo con capacidad de promover el desarrollo de las artes escénicas (en especial el teatro) desde las áreas de formación en la educación media, en la gestión y producción de productos artísticos y en la creación de los mismos. </p>
                    </div>
                </div>
                </a>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <a href="/details">
                <div class="service-wrapper rounded position-relative text-center border p-4 pt-5 pb-5">
                    <div class="icon text-custom">
                        <i class="bi bi-book"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                          </svg>
                    </div>
                    <div class="content mt-3">
                        <h4 class="title text-uppercase">Derecho</h4>
                        <p class="text-muted mt-3 mb-0">Formar abogados/as/es, con capacidad de liderazgo, vocación de servicio y fundamentación ética, comprometidos con la defensa del Estado Social de Derecho y el interés general, en cuyo ejercicio profesional prevalezcan los valores constitucionales de ciudadanía y justicia.</p>
                    </div>
                </div>
                </a>
            </div><!--end col-->

        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Services End -->
<router-outlet></router-outlet>
