<section class="section bg-light" id="services">
    <div class="container">
        <div class="container px-4 px-lg-5">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <div class="titles">
                            <h6 class="title text-uppercase mb-4 pb-4">Programa especifico</h6>
                            <span></span>
                        </div>
                        <p class="text-muted mx-auto para-desc mb-0 text-center">Descripcion del programa</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <!-- Content Row
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-20 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Matematica basica</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/programs">More Info</a></div>
                    </div>
                </div>
            </div>
         //////////////////////////////////////////////////////////////////////// -->
        
            <!-- Page Wrapper -->
            <div id="wrapper">
        
                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">
        
                    <!-- Main Content -->
                    <div id="content">
        
                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                                <!-- Collapsable Card Example 1 -->
                                <div class="col-lg-15 mb-5">    
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Accordion -->
                                        <a href="#collapseCardExample1" class="d-block card-header py-4" data-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="collapseCardExample1">
                                            <h3 class="m-0 font-weight-bold text-primary">Matematica Basica</h3>
                                        </a>
                                        <!-- Card Content - Collapse -->
                                        <div class="collapse" id="collapseCardExample1">
                                            <div class="card-body">
                                                Resultado de aprendizaje
                                            </div>
                                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/programs">More Info</a></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Collapsable Card Example 2-->
                                <div class="col-lg-15 mb-5">    
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Accordion -->
                                        <a href="#collapseCardExample2" class="d-block card-header py-4" data-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                            <h3 class="m-0 font-weight-bold text-primary">Programación imperactiva</h3>
                                        </a>
                                        <!-- Card Content - Collapse -->
                                        <div class="collapse" id="collapseCardExample2">
                                            <div class="card-body">
                                                Resultados de aprendizaje
                                            </div>
                                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/programs">More Info</a></div>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Collapsable Card Example -->
                                <div class="col-lg-15 mb-5">    
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Accordion -->
                                        <a href="#collapseCardExample3" class="d-block card-header py-4" data-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="collapseCardExample3">
                                            <h3 class="m-0 font-weight-bold text-primary">Calculo Monovariable</h3>
                                        </a>
                                        <!-- Card Content - Collapse -->
                                        <div class="collapse" id="collapseCardExample3">
                                            <div class="card-body">
                                                Resultado de aprendizaje
                                            </div>
                                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/programs">More Info</a></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Collapsable Card Example 4-->
                                <div class="col-lg-15 mb-5">    
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Accordion -->
                                        <a href="#collapseCardExample4" class="d-block card-header py-4" data-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="collapseCardExample4">
                                            <h3 class="m-0 font-weight-bold text-primary">Bases de datos</h3>
                                        </a>
                                        <!-- Card Content - Collapse -->
                                        <div class="collapse" id="collapseCardExample4">
                                            <div class="card-body">
                                                Resultad de aprendiza y todo lo demas que quiera poner 🙂
                                            </div>
                                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/programs">More Info</a></div>
                                        </div>
                                    </div>
                                </div>

                        </div><!-- /.container-fluid -->

        
                    </div><!-- End of Main Content -->

                </div><!-- End of Content Wrapper -->

            </div><!-- End of Page Wrapper -->

        </div>
    </div>
<router-outlet></router-outlet>