<!-- <footer class="footer bg-dark">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 text-center">
              <a href="#"><img src="images/logo-light.png" height="20" alt=""></a>
              <p class="para-desc mx-auto mt-4">Obviously I'M Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
              <ul class="list-unstyled mb-0 mt-4 social-icon">
                  <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-vimeo"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-google-plus"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
<hr> -->
<footer class="footer footer-bar bg-dark">
    <div class="container text-foot text-center">
        <p class="mb-0">© 2024 | Sistema Integral de Gestión para Resultados de Aprendizajes.</p>
    </div>
  </footer>
